html {
  overflow: hidden;
}

body {
  margin: 0;
  font-family: ui-monospace, SFMono-Regular, Menlo, "Roboto Mono", monospace;
  color: rgb(140, 146, 164);
  font-size: 11px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
